page-list {
    h1{
        text-align: center;
        color: white;
    }
    .bck{
        background-image:url('../../assets//imgs/Untitled-1.png')
    }
    .btn{
        margin-top: 30%
    }

}
